<div class="modal fade" id="edit_channel_modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" data-user-id="<%= current_user.id %>" >
      <div class="modal-body">
        <div class="modal-header space-2">
          <button type="button" class="close show-sm hide-xs" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
          <span type="button" class="back show-xs ion-arrow-left-c" data-dismiss="modal" aria-label="Close"><span></span></span>
          <p class="modal-title">
            #<%= @channel.name %>
          </p>
        </div>
          <h3 class="text-center"><%= @channel.users.length %> membres</h3>
        <% if @channel.created_by == current_user.id %>
          <%= simple_form_for @channel, url: channel_edit_custom_channel_path(@channel), html: { id: "new_custom_channel" } do |f| %>
            <label>Ajouter des membres :</label>
            <%= f.input :users_id, collection: users_that_can_be_add_in_channel, input_html: { multiple: true, class: "js-multiple-select-users" }, input: { include_blank: false }, label: false %>
            <div class="modal-footer">
              <%= button_tag "Annuler", class: "btn btn-secondary-outline ", data: { dismiss: "modal" } %>
              <%= button_tag "Enregistrer", class: "btn btn-secondary " %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= simple_form_for current_user do |f| %>
  <%= f.input :photo, label: false, cloudinary: {use_filename: true}, input_html: { class: "hidden" } %>
<% end %>

