<div class="modal fade" id="new_channel_modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" data-user-id="<%= current_user.id %>" >
      <div class="modal-body">
        <div class="modal-header space-2">
          <button type="button" class="close show-sm hide-xs" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
          <span type="button" class="back show-xs ion-arrow-left-c" data-dismiss="modal" aria-label="Close"><span></span></span>
          <p class="modal-title">
            Créer un nouveau channel
          </p>
        </div>
        <div class="hint space-4"></div>

        <%= simple_form_for :channel, url: channel_custom_channel_path(1), html: { id: "new_custom_channel" } do |f| %>
          <%= f.hidden_field :users_id, name: "users_id" %>
          <%= f.input :name, label: "Le titre de votre channel", placeholder: "Fuite du 3ième", input_html: { name: 'name' } %>
          <label>Envoyer une invitation à :</label>
          <input placeholder="Cherche par nom", id="user_name" class="form-control">
          <div class="h5 space-top-4">Votre séléction</div>
          <div class="selection space-top-1">
          </div>
          <div class="modal-footer">
            <%= button_tag "Annuler", class: "btn btn-secondary-outline ", data: { dismiss: "modal" } %>
            <%= button_tag "Enregistrer", class: "btn btn-secondary " %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= simple_form_for current_user do |f| %>
  <%= f.input :photo, label: false, cloudinary: {use_filename: true}, input_html: { class: "hidden" } %>
<% end %>

