<div class="client-ui">
  <div class="scroll-container">
    <div class="row">
      <div class="messages-container">
        <% @messages.order(created_at: :asc).each do |message| %>
          <div class="message-wrapper">
            <%= render "messages/message", message: message %>
            <div class="cmt-container" data-message-id=<%= message.id %>>
            <% message.comments.each do |comment| %>
              <%= render "comments/comment", comment: comment %>
            <% end %>
            <%= render "comments/new_comment", message: message %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-channels">
    <div class="building-information">
      <div class="name"><%= @building.name %></div>
    </div>
    <div class="channels">
      <div class="title">Vos conversations <span class="conversation-count">(1)</span> </div>
      <div class="list">
        <ul class="list-unstyled">
          <li class="mine">
            # Mon immeuble
          </li>
          <li class="other">
            # Autres (à venir)
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="modal-bg hidden"></div>
  <%= render "messages/footer" %>
</div>

<%= render layout: "layouts/modal", locals: { modal_name: "new-message", modal_size: "", modal_title: "" } do %>
  <div class="user-infos text-center">
    <div class="user-icon">
      <%= image_tag (""), class: "member-image" %>
    </div>
    <span class="user-name">Michael</span>
    <%= simple_form_for [@channel] do |f| %>
      <%= f.hidden_field :recipient_id %>
      <%= button_tag "Envoyer un message privé", class: "btn btn-secondary space-top-2" %>
    <% end %>
  </div>
<% end %>
