<% content_for :title, "Tous les services" %>
<div class="col-channels">
    <%= render "buildings/templates/col_channels" %>
</div>

<div class="client-ui">
  <div id="loader" style="display: none;"></div>
  <div class="modal-bg hidden"></div>
  <div class="container-fluid space-top-7 page-wrapper">
    <div class="services-list">
      <div class="row">
        <div class="col-md-8 col-xs-12 service col-md-offset-2 col-xs-offset-0">
        <div class="row service-card">
          <div class="col-md-2 user-img">
            <%= image_tag "list-service-explainer.png" %>
          </div>
          <div class="col-md-10">
            <h3>Ils proposent leurs services</h4>
            <div class="hint">Ici vous trouverez toutes les personnes de votre quartier qui proposent leurs services.</div>
            Vous pouvez aussi <%= link_to "proposer vos services", new_service_path, class: "bold" %>
          </div>
        </div>
          <% @services.each do |service| %>
            <%= link_to service_path(service), class: "link" do %>
              <div class="row row-flex row-center service-card">
                <div class="col-md-2 user-img">
                  <%= image_tag user_photo_url(service.user) %>
                </div>
                <div class="col-md-7">
                  <span class="user-name space-1"><%= service.user.name %></span> <br>
                  <span class="bold title"> <%= service.title %></span> <br>
                  <span class="btn-tag"><%= service.category %></span> <br>
                  </div>
                <div class="col-md-3 price-container  hide-xs">
                  <span class="bold price-field"><%= price_formated(service) %></span>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

</div>

<%= render layout: "layouts/modal", locals: { modal_name: "new-message", modal_size: "", modal_title: "" } do %>
  <div class="user-infos text-center">
    <div class="user-icon space-2">
      <%= image_tag (""), class: "member-image" %>
    </div>
    <span class="user-name">Michael</span>
    <%= simple_form_for [@building, Channel.new] do |f| %>
      <%= f.hidden_field :recipient_id %>
      <%= f.hidden_field :channel_type, value: "private" %>
      <%= f.hidden_field :building_id, value: @building.id %>
      <%= button_tag "Envoyer un message privé", class: "btn btn-secondary space-top-2" %>
    <% end %>
  </div>
<% end %>

<%= render layout: "layouts/modal", locals: { modal_name: "notification", modal_size: "", modal_title: "Veuillez sélectionner les conversations pour recevoir les notifications par email" } do %>
  <div class="">
    <% current_user.user_channels_group.each do |user_channel| %>
      <%= simple_form_for user_channel, remote: true, data: { autosubmit: true } do |f| %>
        <%= f.input :want_notification, input_html: { id: "user_channel_#{user_channel.id}" }, label: "#{user_channel.channel.name}"  %>
      <% end %>
    <% end %>
    <div class="text-center">
      <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal" aria-label="Close"><span>Enregistrer et fermer</span></button>
    </div>
  </div>
<% end %>

<%= render "users/edit_profil_modal" %>

<%= render "buildings/templates/new_invitation_modal" %>
<%= render "channels/new_channel_modal" %>
