<div class="building-information">
  <div class="name"><%= @building.name %></div>
</div>
<div class="scroll-channels">
  <div class="settings space-left-2 space-top-2">
    <ul class="list-unstyled">
      <li class="space-1"><i class="fa fa-bell-o" aria-hidden="true"></i></i><a href="#" data-toggle="modal" data-target="#notification_modal">Mes notifications</a></li>
      <li class="space-1"><i class="fa fa-user fa-lg" aria-hidden="true"></i><a href="#" data-toggle="modal" data-target="#edit_profil_modal">Mon profil</a></li>
      <li class="space-1"><i class="fa fa-clipboard  fa-lg" aria-hidden="true"></i><a href="#" data-toggle="modal" data-target="#new_post_modal">Mon annonce</a></li>
      <li class="space-1">
        <%= embedded_svg "camera.svg" %>
        <%= link_to "Mes biens", users_items_path %>
      </li>
    </ul>
  </div>
  <hr>
  <% if current_user.admin %>
    <%= render 'admin/dropdown_select_buildings_admin' %>
  <% end %>
  <div class="group-channels">
    <% if current_user.admin %>
      <div class="add-channel">
        <i class="ion-plus-round  fa-lg" aria-hidden="true"></i><a href="#" data-toggle="modal" data-target="#new_channel_modal">Canal de discussion</a>
      </div>
      <div class="list">
        <ul class="list-unstyled">
           <%= link_to appartments_path(@building.slug, @building.main_channel) do %>
            <li class="<%= get_current_channel(@building.main_channel) %>" data-channel-id=<%= @building.main_channel.id %>>
              <% if @building.main_channel.messages_unseen_by(current_user) > 0 %>
                <span class="badge candy_red_bg"><%= @building.main_channel.messages_unseen_by(current_user) %></span>
              <% end %>
              <span class="channel-name">#&nbsp;<%= @building.main_channel.name %></span>
            </li>
          <% end %>
          <% current_user.group_channels.each do |channel| %>
           <%= link_to appartments_path(@building.slug, channel) do %>
              <li class="<%= get_current_channel(channel) %>">
              <% if channel.messages_unseen_by(current_user) > 0 %>
                <span class="badge candy_red_bg"><%= channel.messages_unseen_by(current_user) %></span>
              <% end %>
              <span class="channel-name">#&nbsp;<%= channel.name %></span>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% else %>
      <div class="add-channel">
        <i class="ion-plus-round  fa-lg" aria-hidden="true"></i><a href="#" data-toggle="modal" data-target="#new_channel_modal">Canal de discussion</a>
      </div>
      <div class="title">Groupes <span class="conversation-count">(<%= current_user.all_group_channels.length %>)</span> </div>
      <div class="list">
        <ul class="list-unstyled">
          <% current_user.all_group_channels.each do |channel| %>
           <%= link_to appartments_path(@building.slug, channel) do %>
              <li class="<%= get_current_channel(channel) %>" data-channel-id=<%= channel.id %>>
              <% if channel.messages_unseen_by(current_user) > 0 %>
                <span class="badge candy_red_bg"><%= channel.messages_unseen_by(current_user) %></span>
              <% end %>
              <span class="channel-name">#&nbsp;<%= channel.name %></span>
              </li>
            <% end %>
          <% end %>
          <%= link_to items_path do %>
            <li class="others"><span class="channel-name">#&nbsp;Achats/Vente</span></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="private-channels">
    <div class="title">Messages privé <span class="conversation-count">(<%= current_user.private_channels.count %>)</span> </div>
    <div class="list">
      <ul class="list-unstyled">
        <% current_user.private_channels.each do |channel| %>
          <%= link_to appartments_path(@building.slug, channel) do %>
            <li class="<%= get_current_channel(channel) %>" data-channel-id=<%= channel.id %>>
              <% if channel.messages_unseen_by(current_user) > 0 %>
                <span class="badge candy_red_bg"><%= channel.messages_unseen_by(current_user) %></span>
              <% end %>
              <span class="channel-name">#&nbsp;<%= not_current_user(channel).name %></span>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
    <ul class="list-unstyled">
      <li class="logout"><%= link_to icon("sign-out", "Se déconnecter"), destroy_user_session_path, method: :delete, class: "logout" %></li>
    </ul>
  </div>
</div>
