<% content_for :title, "accueil" %>
<% content_for :description, "Communiquer facilement avec l'ensemble de votre immeuble" %>
<% content_for :og_url, "http://www.alacaza.fr" %>
<% content_for :og_title, "« Alacaza.fr : Le 1er réseau social privé entièrement dédié à la vie de votre immeuble »" %>
<% content_for :og_type, "article" %>
<% content_for :og_description, "Alacaza est le premier réseau social privé entièrement dédié à la vie de votre immeuble. Propriétaire, locataire, gardien(ne) ou property manager: Alacaza vous permet de communiquer facilement avec l'ensemble des parties prenantes, d'échanger des services ponctuels, de régler rapidement les imprévus ou problèmes récurrents dans les parties communes et de participer aux rendez-vous qui animent la vie de votre immeuble. Utilisez Alacaza à votre rythme, et prenez part à cette dynamique collaborative au sein de votre immeuble !"%>


<%= content_tag :section, class: "hero" do %>
  <div class="hero-info">
    <h1>
      Une messagerie dédiée<br>
      à votre immeuble
      <h1>
      <span class="btn btn-cta">Rejoindre mon immeuble</span>
    </div>
  </div>

  <div class="scroll-down hidden-xs">
    <div class="angle-icon-wrapper"><%= icon("angle-down", class: "fa-5x", id: "scroll-down") %></div>
    <div>En savoir plus</div>
  </div>
<% end %>

<section class="cities" id="cities">
  <h2 class="text-center">Trois immeubles sélectionnés pour l’expérimentation du service</h2>
  <p class="text-center hint">Les 3 immeubles dans la ville de Paris</p>
  <div class="container content-wrapper">
    <div class="row">
      <% buildings.each do |building| %>
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-4 text-center">
          <div class="picture-wrapper" >
            <div class="city-picture" data-city=<%= building %>>
              <%= link_to current_user ? "/immeubles/#{building}" : "", data: {toggle: ( !current_user ? "modal" : "" ), target: "#signup_modal"}, class: "city-image-link" do %>
                <div class="city-title"><%= buildings_name(building) %></div>
                <%= image_tag "buildings/#{building}.jpg", class: "" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<section class="testimonial" id="testimonial">
  <h2 class="text-center">Les avantages&nbsp;</h2>
  <div class="container content-wrapper">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-4 text-center">
        <div id="glass-icon" class="icon-wrapper profile"></div>
        <h3>Utile</h3>
        <p>Des gains d’efficacité dans les interactions entre les parties prenantes de votre immeuble </p>
      </div>

      <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-4 text-center">
        <div class="icon-wrapper" id="label-icon"></div>
        <h3>Privé</h3>
        <p>Un environnement exclusivement dédié à la communauté de votre immeuble</p>
      </div>

      <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-4 text-center">
        <div class="icon-wrapper" id="discount-icon"></div>
         <h3>Sécurisé</h3>
        <p>Un accès contrôlé avec des mots de passe personnel et collectif </p>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="video-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-header">
          <button type="button" class="close show-sm" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
        </div>
        <div class="video-container">
              <iframe id="ytplayer" type="text/html" width="570" height="390"
                src="https://www.youtube.com/embed/sQq1W93-eQc?rel=0"
                frameborder="0"/>

              <div id="videoIFrame" class="embed-responsive embed-responsive-16by9 embed hidden">
                <iframe id="video" class="embed-responsive-item" src="" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen" autoplay="1">
                </iframe>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>
