<% content_for :title, "Alacaza | La première messagerie entièrement dédiée à la vie de votre immeuble " %>
<% content_for :description, "Communiquer facilement avec l'ensemble de votre immeuble" %>
<% content_for :og_url, "http://www.alacaza.fr" %>
<% content_for :og_title, "« Alacaza.fr : La première messagerie entièrement dédiée à la vie de votre immeuble »" %>
<% content_for :og_type, "article" %>
<% content_for :og_description, "Alacaza est votre messagerie privée entièrement dédiée à la vie de votre immeuble. Propriétaire, locataire, gardien(ne) ou property manager: Alacaza vous permet de communiquer facilement avec l'ensemble des parties prenantes, d'échanger des services ponctuels, de régler rapidement les imprévus ou problèmes récurrents dans les parties communes et de participer aux rendez-vous qui animent la vie de votre immeuble. Utilisez Alacaza à votre rythme, et prenez part à cette dynamique collaborative au sein de votre immeuble !"%>

<%= content_tag :section, class: "hero" do %>
  <div class="hero-info">
    <h1>
      Une messagerie pour votre immeuble<br>
      <span class="p2"></span>
      <h1>
      <% if current_user %>
        <%= link_to "Rejoindre mon immeuble", appartments_path(current_user.building.slug), class: "btn btn-cta" %>
      <% else %>
        <span class="btn btn-cta" data-toggle="modal" data-target="#signup_modal">Rejoindre mon immeuble</span>
      <% end %>
    </div>
  </div>

  <div class="scroll-down hidden-xs">
    <div class="angle-icon-wrapper"><%= icon("angle-down", class: "fa-5x", id: "scroll-down") %></div>
    <div>En savoir plus</div>
  </div>
<% end %>

<section class="cities" id="cities">
  <h2 class="text-center">Les immeubles sélectionnés pour l’expérimentation du service</h2>
  <p class="text-center hint">Les immeubles dans la ville de Paris</p>
  <div class="container content-wrapper">
    <div class="row">
      <% Building.where(id: [4,5,6, 7, 8, 9]).each do |building| %>
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-4 text-center">
          <div class="picture-wrapper" >
            <div class="city-picture" data-city=<%= building.slug %>>
              <%= link_to current_user ? "/immeubles/#{building.slug}" : "", data: {toggle: ( !current_user ? "modal" : "" ), target: "#signup_modal"}, class: "city-image-link" do %>
                <div class="city-title"><%= building.name %></div>
                <%= image_tag "buildings/#{building.slug}.jpg", class: "" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<section class="testimonial" id="testimonial">
  <h2 class="text-center">Les avantages&nbsp;</h2>
  <div class="container content-wrapper">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-4 text-center">
        <div id="glass-icon" class="icon-wrapper profile"></div>
        <h3>Utile</h3>
        <p>Des gains d’efficacité dans les interactions entre les parties prenantes de votre immeuble </p>
      </div>

      <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-4 text-center">
        <div class="icon-wrapper" id="label-icon"></div>
        <h3>Privé</h3>
        <p>Un environnement exclusivement dédié à la communauté de votre immeuble</p>
      </div>

      <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-4 text-center">
        <div class="icon-wrapper" id="discount-icon"></div>
         <h3>Sécurisé</h3>
        <p>Un accès contrôlé avec des mots de passe personnel et collectif </p>
      </div>
    </div>
  </div>
</section>

<section class="the-project" id="the-project">
  <h2 class="text-center">Le projet&nbsp;</h2>
  <div class="container content-wrapper">
    <div class="row">
      <div class="col-xs-12 text-center">
        <p class="project-text">Alacaza est le premier réseau social privé entièrement dédié à la vie de votre
          immeuble. Propriétaire, locataire, gardien(ne) ou property manager: Alacaza
          vous permet de communiquer facilement avec l'ensemble des parties
          prenantes, d'échanger des services ponctuels, de régler rapidement les
          imprévus ou problèmes récurrents dans les parties communes et de
          participer aux rendez-vous qui animent la vie de votre immeuble. Utilisez
          Alacaza à votre rythme, et prenez part à cette dynamique collaborative au
          sein de votre immeuble !</p>
      </div>
    </div>
  </div>
</section>

<section class="who-are-we" id="who-are-we">
  <h2 class="text-center">Qui sommes-nous&nbsp;?</h2>
  <div class="container content-wrapper">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-4 text-center">
        <div id="remy" class="profil-wrapper profile"></div>
        <h3>Rémy</h3>
        <p class="job">CEO Co-fondateur</p>
        <p>Diplômé de l’ESCP Europe (MiM) et d’un master en aménagement du territoire d’urbanisme de l’Université Paris-IV, Rémy a des expériences en conseil en stratégie et en banque d’affaires. Passionné de voyage et de découvertes, il s’occupe du développement du service Alacaza.fr.</p>
      </div>

      <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-4 text-center">
        <div class="profil-wrapper" id="alexis"></div>
        <h3>Alexis</h3>
        <p class="job">COO Co-fondateur</p>
        <p>Diplômé du Master Stratégie et Finance de SciencesPo Paris, après une expérience d’associé junior d’affaires publiques et de propriété intellectuelle chez Vivendi, Alexis est la plume et le responsable des opérations d’Alacaza.fr. </p>
      </div>

      <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-4 text-center">
        <div class="profil-wrapper" id="michael"></div>
         <h3>Michael</h3>
         <p class="job">CTO Co-fondateur</p>
        <p>Après une expérience de 2 ans à la Gendarmerie en Martinique et un long séjour en Australie, Michael est devenu développeur back-end chez Event-Corner.com. Passionné par l’apprentissage de nouveaux langages informatiques et par le sport, il est le directeur technique d’Alacaza.fr.</p>
      </div>
    </div>
  </div>
</section>


<div class="modal fade" id="video-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-header">
          <button type="button" class="close show-sm" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
        </div>
        <div class="video-container">
              <iframe id="ytplayer" type="text/html" width="570" height="390"
                src="https://www.youtube.com/embed/sQq1W93-eQc?rel=0"
                frameborder="0"/>

              <div id="videoIFrame" class="embed-responsive embed-responsive-16by9 embed hidden">
                <iframe id="video" class="embed-responsive-item" src="" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen" autoplay="1">
                </iframe>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>
