<div class="msg-container space-top-2">
  <div class="message-gutter">
    <div class="message-icon icon-user-<%= message.user.id %>">
      <%= image_tag ("icons/icon" + message.user.image_id.to_s + ".png"), class: "member-image" %>
    </div>
  </div>
  <div class="message-content">
    <a href="#" data-toggle="modal" 
                data-target="#new-message_modal" 
                class="message-sender" 
                data-user-id="<%= message.user.id %>" 
                data-building-id="<%= @building.id %>"
                data-user-name="<%= message.user.name %>">
                <%= message.user.name %>
                  
    </a>
    <span class="message-time"><%= l message.created_at, format: :short %></span>
    <div class="message-body">
      <%= simple_format(message.body) %>
    </div>
  </div>
</div>
