<%= simple_form_for Message.new, remote: true, data: { spinnable: true } do |f| %>
	<%= f.hidden_field :channel_id, value: @channel.id %>
	<%= f.hidden_field :building_id, value: @building.id %>
  <div class="input-body">
    <%= f.input :body, label: false, input_html: { class: "js-auto-size" }, placeholder: "Votre message" %>
  </div>
    <%= button_tag "", class: "fa ion-paper-airplane icon-send" %>
<% end %>
