<div class="building-information">
  <div class="name"><%= @building.name %></div>
</div>
<div class="scroll-channels">
  <div class="group-channels">
    <% if current_user.admin %>
      <%= render 'admin/dropdown_select_buildings_admin' %>
    <% elsif current_user.gardien %>
      <%= render 'gardien/dropdown_select_buildings_gardien' %>
    <% end %>
    <div class="title">Groupes <span class="conversation-count">(<%= current_user.group_channels.count %>)</span> </div>
    <div class="list">
      <ul class="list-unstyled">
        <% current_user.group_channels.each do |channel| %>
         <%= link_to gardien_appartments_path(@building.slug, channel) do %>
            <li class="<%= get_current_channel(channel) %>">
              <span class="badge candy_red_bg">1</span>
              <span class="channel-name">#&nbsp;<%=channel.name %></span>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="private-channels">
    <div class="title">Messages privé <span class="conversation-count">(<%= current_user.private_channels.count %>)</span> </div>
    <div class="list">
      <ul class="list-unstyled">
        <% current_user.private_channels.each do |channel| %>
          <%= link_to gardien_appartments_path(@building.slug, channel) do %>
            <li class="<%= get_current_channel(channel) %>">
              <span class="badge candy_red_bg"><%= channel.messages_unseen_by(current_user) %></span>
              <span class="channel-name">#&nbsp;<%= not_current_user(channel).name %></span>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
