<p>Bonjour <%= @user.first_name %>,</p>
<p><%= @service.user.name %> vient de proposer ses services sur Alacaza et il me semble que vous avez besoin d'aide dans ce domaine de compétences.</p>

<p>
Information sur les compétences de <%= @service.user.name %> : <br>
Titre : <%= @service.title %> <br>
Description : <%= @service.description %> <br>
Prix : <%= @service.price %> <br>
</p>

<p>N'hésitez pas à lui envoyer un message privé sur Alacaza afin d'en savoir plus !</p>

    <table border="0" cellpadding="0" cellspacing="0" width="600" style="width:155px">
      <td>
        <a href= <%= service_url(@service, token: @user.token) %> style="text-decoration: none;">
          <span style="text-align: center;
            width: 210px;
            font-family: helvetica;
            background-color: #FF6E41;
            padding: 8px;
            color: white;
            font-size: 14px;
            display: block;">Voir le service
          </span>
        </a>
      </td>
    </table>

<p>Bonne journée,<br>
L'équipe Alacaza</p>
