<p>Bonjour <%= @user.first_name %>,</p>
<p>Un nouveau message est arrivé sur Alacaza de <%= @message.user.name %> <%= name_for_channel(@message.channel) %></p>

<div style="background-color: #DCEFFF; padding: 15px; margin: 16px;">
<span style="line-height: 1.5; font-style: italic;">
      <%= extracted_body_for_email(@message.body) %>
      <% if @user.gardien %>
        <%= link_to "lire plus", gardien_appartments_url(@message.building.slug, @message.channel_id, token: @user.token) %>
      <% else %>
        <%= link_to "lire plus", appartments_url(@message.building.slug, @message.channel_id, token: @user.token) %>
      <% end %>

</span>

</div>

  <% if @user.gardien %>
    <table border="0" cellpadding="0" cellspacing="0" width="600" style="width:155px">
      <td>
        <a href= <%= gardien_appartments_url(@message.building.slug, @message.channel_id, token: @user.token) %> style="text-decoration: none;">
          <span style="text-align: center;
            width: 210px;
            font-family: helvetica;
            background-color: #FF6E41;
            padding: 8px;
            color: white;
            margin-left: 16px;
            font-size: 14px;
            display: block;"> Lire / Répondre au message
          </span>
        </a>
      </td>
    </table>
  <% else %>
    <table border="0" cellpadding="0" cellspacing="0" width="600" style="width:155px">
      <td>
        <a href= <%= appartments_url(@message.building.slug, @message.channel_id, token: @user.token) %> style="text-decoration: none;">
          <span style="text-align: center;
            width: 210px;
            font-family: helvetica;
            background-color: #FF6E41;
            padding: 8px;
            color: white;
            margin-left: 16px;
            font-size: 14px;
            display: block;">Lire / Répondre au message
          </span>
        </a>
      </td>
    </table>
  <% end %>
<p>Bonne journée,<br>
L'équipe Alacaza</p>
