<p>Bonjour <%= @user.first_name %>,</p>
<p><%= @mission.user.name %> a besoin d'aide dans l'un de vos domaines de compétences.</p>

<p>Informations sur la mission : <br>
Titre : <%= @mission.title %> <br>
Description : <%= @mission.description %> <br>
Prix : <%= @mission.price %> <br>
</p>

<p>N'hésitez pas à lui envoyer un message privé sur Alacaza afin d'en savoir plus !</p>

    <table border="0" cellpadding="0" cellspacing="0" width="600" style="width:155px">
      <td>
        <a href= <%= mission_url(@mission, token: @user.token) %> style="text-decoration: none;">
          <span style="text-align: center;
            width: 210px;
            font-family: helvetica;
            background-color: #FF6E41;
            padding: 8px;
            color: white;
            font-size: 14px;
            display: block;">Voir la mission
          </span>
        </a>
      </td>
    </table>

<p>Bonne journée,<br>
L'équipe Alacaza</p>
