<p>Bonjour <%= @user.first_name %>,</p>

<p>Nous sommes très heureux de t’accueillir dans la communauté alacaza de ton immeuble du <%= @user.building.address %>.</p>

<p>Tu peux désormais participer autrement à la vie de ton bâtiment en te connectant sur ta messagerie d'immeuble :

<table border="0" cellpadding="0" cellspacing="0" width="600" style="width:155px">
  <td>
    <a href= <%= appartments_url(@user.building.slug, token: @user.token) %> style="text-decoration: none;">
      <span style="text-align: center;
        width: 140px;
        background-color: #FF6E41;
        padding: 8px;
        color: white;
        margin-top: 20px;
        font-size: 14px;
        display: block;">Me connecter
      </span>
    </a>
  </td>
</table>


<table cellspacing="0" cellpadding="0" style="margin-top:30px;">
  <tr>
    <td style="width:60px;height:60px;padding-right:10px;border-right:2px solid #ccc;"><%= image_tag("michael.jpg", alt: "Michael", style: "width:100%;height:100%;border-radius:50%;") %></td>
    <td style="padding-left:10px;text-align:initial;">
      <b><span class="color:#333;">Michael MONIN</span></b><br>
      <span style="color:#333;">Co-fondateur | Alacaza</span><br>
      <a href="mailto:hello@alacaza.fr" style="text-decoration:none;color:#333;">hello@alacaza.fr</a><br>
      <a href="tel:+33 7 68 45 33 00" style="text-decoration:none;color:#333;">+33 7 68 45 33 00</a><br>
      <%= link_to "http://www.alacaza.fr", root_url %>
    </td>
  </tr>
</table>
