<div class="col-channels">
    <%= render "buildings/templates/col_channels" %>
</div>

<div class="client-ui">
  <div class="modal-bg hidden"></div>
  <div class="container-fluid space-top-7">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center"> Mes objets</h2>
        <div class="ongoing-items">
          <h3 class="page-header">Mes objets en vente</h3>
          <div class="row">
            <% @items.ongoing.each do |item| %>
              <div class="col-md-3 col-sm-4 col-xs-6 space-top-2">
                <div class="item-card">
                  <div class="photo-container">
                    <%= link_to item_path(item) do %>
                      <%= cl_image_tag(item.photo.url(:thumb)) %>
                    <% end %>
                  </div>
                  <div class="infos">
                    <div class="title"><%= item.title %></div>
                    <div class="price"><%= humanize(item.price.round(0)) %></div>
                  </div>
                  <div class="actions">
                    <%= link_to "Modifier", edit_item_path(item), class: "btn btn-secondary space-2 btn-group" %>
                    <%= button_to "C'est vendu !", sold_users_item_path(item), class: "btn btn-action-green btn-group", method: :patch %>
                    <div class="text-center space-top-2">
                      <%= link_to "<i class='fa fa-lg fa-trash-o'></i>".html_safe, item_path(item), method: :delete, class: "rm-item", data: { confirm: "Êtes-vous sûr de vouloir supprimer ce bien ?"} %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="sold-items">
          <h3 class="page-header">Mes objets vendus</h3>
          <% @items.sold.each do |item| %>
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="item-card">
                <div class="photo-container">
                  <div class="sold-icon">
                    <%= embedded_svg "soldout.svg" %>
                  </div>
                  <%= cl_image_tag(item.photo.url(:thumb)) %>
                </div>
                <div class="infos">
                  <div class="title"><%= item.title %></div>
                  <div class="price"><%= humanize(item.price.round(0)) %></div>
                </div>
                <div class="actions">
                <%= button_to "Remettre en vente", resell_users_item_path(item), class: "btn btn-secondary space-2 btn-group", method: :patch %>
                </div>
              </div>
            </div>
        <% end %>
        </div>


      </div>
    </div>
  </div>
</div>

<%= render layout: "layouts/modal", locals: { modal_name: "new-message", modal_size: "", modal_title: "" } do %>
  <div class="user-infos text-center">
    <div class="user-icon space-2">
      <%= image_tag (""), class: "member-image" %>
    </div>
    <span class="user-name">Michael</span>
    <%= simple_form_for [@building, Channel.new] do |f| %>
      <%= f.hidden_field :recipient_id %>
      <%= f.hidden_field :channel_type, value: "private" %>
      <%= f.hidden_field :building_id, value: @building.id %>
      <%= button_tag "Envoyer un message privé", class: "btn btn-secondary space-top-2" %>
    <% end %>
  </div>
<% end %>

<%= render layout: "layouts/modal", locals: { modal_name: "notification", modal_size: "", modal_title: "Veuillez sélectionner les conversations pour recevoir les notifications par email" } do %>
  <div class="">
    <% current_user.user_channels_group.each do |user_channel| %>
      <%= simple_form_for user_channel, remote: true, data: { autosubmit: true } do |f| %>
        <%= f.input :want_notification, input_html: { id: "user_channel_#{user_channel.id}" }, label: "#{user_channel.channel.name}"  %>
      <% end %>
    <% end %>
    <div class="text-center">
      <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal" aria-label="Close"><span>Enregistrer et fermer</span></button>
    </div>
  </div>
<% end %>

<%= render "users/edit_profil_modal" %>
<%= render "posts/new_post_modal" %>
<%= render "buildings/templates/new_invitation_modal" %>
