<div class="modal fade" id="edit_profil_modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" data-user-id="<%= current_user.id %>" >
      <div class="modal-body">
        <div class="modal-header">
          <button type="button" class="close show-sm" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
          <p class="modal-title">
            Editez votre profil
            <div class="text-center image-container">
              <div class="image-wrapper">
                <div class="hover-background">
                  <i class="fa fa-camera" aria-hidden="true"></i>
                  <div class="text-center"> Changer ma photo</div>
                </div>
                <div class="fa icon-camera"></div>
                <%= render "users/image" %>
              </div>
            </div>
          </p>
        </div>
        <%= simple_form_for current_user, remote: true do |f| %>
          <%= f.input :first_name, label: "Prénom #{informations_form}".html_safe, disabled: true %>
          <%= f.input :last_name, label: "Nom #{informations_form}".html_safe, disabled: true %>
          <%= f.input :age, label: "Âge" %>
          <%= f.input :sex, label: "Sexe", collection: sex_collection, as: :select, input_html: { class: "js-sex-basic-single" } %>
          <%= f.input :user_status, label: "Votre statut dans l'immeuble", collection: status_collection, as: :select, input_html: { class: "js-user-status-basic-single" } %>
          <div class="modal-footer">
            <%= button_tag "Annuler", class: "btn btn-secondary-outline ", data: { dismiss: "modal" } %>
            <%= button_tag "Enregistrer", class: "btn btn-secondary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= simple_form_for current_user do |f| %>
  <%= f.input :photo, label: false, cloudinary: {use_filename: true}, input_html: { class: "hidden" } %>
<% end %>
