<%= render layout: "layouts/modal", locals: { modal_name: "signup", modal_size: "", modal_title: "Rejoindre mon immeuble" } do %>
  <div class="step-1">
    <table class="modal-layout">
      <tbody>
        <tr>
          <td>
            <div class="signup_form">
              <%= simple_form_for :user, remote: true,
                                            url: registration_path("user"),
                                           data: { type: :json, spinnable: true },
                                        wrapper: :vertical_form,
                                       defaults: { label_html: { class: "col-md-6"},
                                                   input_html: { class: "input-lg" }
                                                  },
                                           html: { class: "form form-horizontal", id: "new_user" } do |f| %>
               <div class="row row-flex row-center">
                 <div class="col-md-4 col-xs-12"><label>Prénom</label></div>
                 <div class="col-md-7 col-xs-12"> <%= f.input :first_name, label: false, placeholder: "Prénom" %></div>
               </div>

               <div class="row row-flex row-center">
                 <div class="col-md-4 col-xs-12"><label>Nom</label></div>
                 <div class="col-md-7 col-xs-12"><%= f.input :last_name, label: false, placeholder: "Nom" %></div>
               </div>

               <div class="row row-flex row-center">
                 <div class="col-md-4 col-xs-12"><label>Votre étage</label></div>
                 <div class="col-md-7 col-xs-12"><%= f.input :floor, label: false, include_blank: false, placeholder: "Votre étage", as: :string, type: "number" %></div>
               </div>

               <div class="row row-flex row-center">
                 <div class="col-md-4 col-xs-12"><label>Numéro d'appartement</label></div>
                 <div class="col-md-7 col-xs-12"><%= f.input :door, label: false, include_blank: false, placeholder: "Votre numéro d'appartement" %></div>
               </div>

               <div class="row row-flex row-center">
                 <div class="col-md-4 col-xs-12"><label>Choisissez votre immeuble</label></div>
                 <div class="col-md-7 col-xs-12"><%= f.input :building_id, label: false, label: false, collection: buildings_collection, as: :select, placeholder: "-- Choisissez votre immeuble --", input_html: { class: "js-example-basic-single input-lg" } %></div>
               </div>

               <div class="row row-flex row-center">
                 <div class="col-md-4 col-xs-12"><label>Code immeuble</label></div>
                 <div class="col-md-7 col-xs-12"><%= f.input :building_access, label: false, placeholder: "Code Alacaza de votre immeuble"  %></div>
               </div>

               <div class="row row-flex row-center">
                 <div class="col-md-4 col-xs-12"><label>Votre adresse email</label></div>
                 <div class="col-md-7 col-xs-12"><%= f.input :email, label: false, placeholder: "Email" %></div>
               </div>

               <div class="row row-flex row-center">
                 <div class="col-md-4 col-xs-12"><label>Votre mot de passe</label></div>
                 <div class="col-md-7 col-xs-12"><%= f.input :password, label: false, placeholder: "Mot de passe", required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable)%></div>
               </div>
              <div class="text-center">
                <%= button_tag "Rejoindre mon immeuble", type: "submit", class: "btn btn-lg btn-action space-1 space-top-1" %>
                <p class="want-to-signin">Déjà inscrit ? <%= link_to "Se connecter", "#", class: "" %></p>
              </div>
              <% end %>
            </div>
          </td>
        </tr>
      <tbody>
    </table>
  </div>
  <div class="step-2 text-center"  style="display:none;">
    <p class="modal-info text-center">Félicitation ! Vous allez être redirigé vers la messagerie de votre immeuble<span class="immeuble"></span> dans quelques secondes..</p>
     <p class="signature">L'Équipe Alacaza with <i class="fa fa-heart"></i></p>
    <i class="ion-loading-c"></i>
  </div>
<% end %>
