<div class="client-ui">
  <div class="scroll-container">
    <div class="row">
      <div class="messages-container">

      <div class="infos-channel">
        <% if @channel.private? %>
          <%= render "private_channel_info" %>
        <% elsif @channel.group? %>
          <%= render "group_channel_info" %>
        <% end %>
      </div>

        <% @messages.order(created_at: :asc).each do |message| %>
          <div class="message-wrapper">
            <%= render "messages/message", message: message %>
            <div class="cmt-container" data-message-id=<%= message.id %>>
            <% message.comments.each do |comment| %>
              <%= render "comments/comment", comment: comment %>
            <% end %>
            <%= render "comments/new_comment", message: message %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-channels">
    <div class="building-information">
      <div class="name"><%= @building.name %></div>
    </div>
    <div class="group-channels">
      <div class="title">Groupes <span class="conversation-count">(<%= current_user.group_channels.count %>)</span> </div>
      <div class="list">
        <ul class="list-unstyled">
          <% current_user.group_channels.each do |channel| %>
           <%= link_to appartments_path(@building.slug, channel) do %>
              <li class="<%= get_current_channel(channel) %>">
                  <span class="channel-name">#&nbsp;<%=channel.name %></span>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="private-channels">
      <div class="title">Messages privé <span class="conversation-count">(<%= current_user.private_channels.count %>)</span> </div>
      <div class="list">
        <ul class="list-unstyled">
          <% current_user.private_channels.each do |channel| %>
            <%= link_to appartments_path(@building.slug, channel) do %>
              <li class="<%= get_current_channel(channel) %>">
                  <span class="channel-name">#&nbsp;<%= not_current_user(channel).name %></span>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="modal-bg hidden"></div>
  <%= render "messages/footer" %>
</div>

<%= render layout: "layouts/modal", locals: { modal_name: "new-message", modal_size: "", modal_title: "" } do %>
  <div class="user-infos text-center">
    <div class="user-icon">
      <%= image_tag (""), class: "member-image" %>
    </div>
    <span class="user-name">Michael</span>
    <%= simple_form_for [@building, Channel.new] do |f| %>
      <%= f.hidden_field :recipient_id %>
      <%= f.hidden_field :channel_type, value: "private" %>
      <%= f.hidden_field :building_id, value: @building.id %>
      <%= button_tag "Envoyer un message privée", class: "btn btn-secondary space-top-2" %>  
    <% end %>
  </div>
<% end %>
