<div class="client-ui">
  <div class="scroll-container">
    <div class="row">
      <div class="messages-container">
        <% @messages.order(created_at: :asc).each do |message| %>
          <div class="message-wrapper">
            <%= render "messages/message", message: message %>
            <div class="cmt-container" data-message-id=<%= message.id %>>
            <% message.comments.each do |comment| %>
              <%= render "comments/comment", comment: comment %>
            <% end %>
            <%= render "comments/new_comment", message: message %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-channels">
    <div class="building-information">
      <div class="name"><%= @building.name %></div>
    </div>
    <div class="channels">
      <div class="title">Vos conversations <span class="conversation-count">(1)</span> </div>
      <div class="list">
        <ul class="list-unstyled">
          <li class="mine">
            # Mon immeuble
          </li>
          <li class="other">
            # Autres (à venir)
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="modal-bg hidden"></div>
  <%= render "messages/footer" %>
</div>