<div class="modal fade" id="new_post_modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" data-user-id="<%= current_user.id %>" >
      <div class="modal-body">
        <div class="modal-header space-2">
          <button type="button" class="close show-sm hide-xs" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
          <span type="button" class="back show-xs ion-arrow-left-c" data-dismiss="modal" aria-label="Close"><span></span></span>
          <p class="modal-title">
            Quel service proposez-vous ?
            <div class="text-center image-container">
              <div class="image-wrapper">
                <div class="hover-background">
                  <i class="fa fa-camera" aria-hidden="true"></i>
                  <div class="text-center"> Changer ma photo</div>
                </div>
                <div class="fa icon-camera"></div>
                <%= render "users/image" %>
              </div>
            </div>
          </p>
        </div>
        <div class="hint space-4">Votre photo de profil s'affichera sur votre annonce.</div class="hint space-4">

        <%= simple_form_for @post, remote: true, data: { autosubmit: true }, html: { } do |f| %>
          <%= f.input :title, label: "Le titre de votre annonce", placeholder: "Cours d’anglais (Professeur agrégé)" %>
          <%= f.input :description, input_html: { rows: 4 }, label: "Description de votre annonce", placeholder: "Actuellement professeur associé à l’université Paris-IV, je suis disponible pour donner des cours d’anglais le week-end (primaire, secondaire, classes préparatoires). Possibilité de travailler l’oral ainsi bien que l’écrit. Séances de 1h00 à 2h00 selon vos préférences." %>
          <%= f.input :tags, collection: Post::TAG, input_html: { multiple: true, class: "js-multiple-select-tags" }, label: "Vos domaines de compétence", selected: @post.tags %>
          <%= f.input :availability, label: "Vos disponibilitées", placeholder: "Ex: le soir et le week end... " %>
          <%= f.input :mobile_phone, label: "Téléphone", hint: "Optionnel" %>
          <%= f.input :price, label: "Votre prix", hint: "Optionnel", as: :string %>

          <div class="modal-footer">
            <%= button_tag "Annuler", class: "btn btn-secondary-outline ", data: { dismiss: "modal" } %>
            <%= button_tag "Enregistrer", class: "btn btn-secondary ", data: { dismiss: "modal" } %>
          </div>
        <% end %>
        <div class="published-container">
          <% if @post.persisted? %>
            <%= render "posts/published" %>
          <% end %>
        </div>


      </div>
    </div>
  </div>
</div>

<%= simple_form_for current_user do |f| %>
  <%= f.input :photo, label: false, cloudinary: {use_filename: true}, input_html: { class: "hidden" } %>
<% end %>

