<div class="col-md-4 space-4">
<a href="#" data-toggle="modal" data-target="#post_card_modal" id="post-card">
  <div class="post-card text-center">
    <div class="header" data-post-id="<%= post.id %>" data-post-user-id="<%= post.user.id %>">
      <div class="title text-center"><%= post.title %></div>
      <div class="picture-wrapper">
        <%= image_tag user_photo_url(post.user) %>
      </div>
      <div class="user-infos text-center space-1 space-top-1">
        <%= post.user.first_name %>
      </div>
    </div>

    <div class="body">
      <div class="tags space-1">
        <% post.tags.each do |tag| %>
          <% unless tag.empty? %>
            <span class="btn btn-tag"><%= tag %></span>
          <% end %>
        <% end %>
      </div>
      <div class="description text-left space-top-2">
        <%= post.description %>
      </div>
      <hr>
      <div class="availability">
      <% if post.availability.present? %>
        <i class="fa fa-clock-o"></i> <%= post.availability %>
      <% else %>
       <span class="hint"> <i class="fa fa-clock-o"></i>&nbsp; | <%= post.user.first_name %> n'a pas renseigné de disponibilitées</span>
      <% end %>
      </div>
      <div class="price space-top-1">
        <% if post.price.present? %>
        <i class="fa fa-eur"></i>&nbsp; | <%= post.price %>
        <% else %>
         <span class="hint"><i class="fa fa-eur"></i>&nbsp; | <%= post.user.first_name %> n'a pas renseigné de prix</span>
        <% end %>
      </div>
    </div>
  </div>
</a>
</div>
