<% content_for :title, @mission.title %>
<div class="col-channels">
    <%= render "buildings/templates/col_channels" %>
</div>

<div class="client-ui">
  <div class="modal-bg hidden"></div>
  <div class="container-fluid space-top-7">
    <div class="ongoing-missions">
      <ol class="breadcrumb">
        <li><span><%= link_to "Toutes les missions", missions_path %></span></li>
        <li><span><%= @mission.title %></span></li>
      </ol>
      <div class="row">
        <div class="col-sm-8 col-xs-12">
          <div class="mission-card">
            <div class="row">
              <div class="col-md-8">
                <span class="title"> <%= @mission.title %> <br></span>
                <span class="btn-tag"><%= @mission.category %></span> <br>
              </div>
              <div class="col-md-4 price">
                <%= price_formated(@mission) %>
              </div>
            </div>
            <div class="space-top-4"><%= @mission.description %></div>
            <hr>
            <% unless @mission.user == current_user %>
              <h4>Envoyer un message privé à <%= @mission.user.name %></h4>
              <%= simple_form_for Message.new, url: mission_add_message_path(@mission), html: { id: "new_post_message" } do |f| %>
                <%= f.input :body, label: false, input_html: { rows: 4, name: "body" }, placeholder: "Votre message", hint: "Votre message sera directement envoyé par message privé" %>
                <%= f.submit "Envoyer", class: "btn btn-secondary btn-lg" %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="user-card">
            <div class="user-img">
              <%= image_tag user_photo_url(@mission.user) %>
            </div>
            <div class="bold space-top-2 text-center"><%= @mission.user.name %></div>
            <%= render "users/stars_rating" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render layout: "layouts/modal", locals: { modal_name: "notification", modal_size: "", modal_title: "Veuillez sélectionner les conversations pour recevoir les notifications par email" } do %>
  <div class="">
    <% current_user.user_channels_group.each do |user_channel| %>
      <%= simple_form_for user_channel, remote: true, data: { autosubmit: true } do |f| %>
        <%= f.input :want_notification, input_html: { id: "user_channel_#{user_channel.id}" }, label: "#{user_channel.channel.name}"  %>
      <% end %>
    <% end %>
    <div class="text-center">
      <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal" aria-label="Close"><span>Enregistrer et fermer</span></button>
    </div>
  </div>
<% end %>

<%= render "users/edit_profil_modal" %>

<%= render "buildings/templates/new_invitation_modal" %>
