<!DOCTYPE html>
<html>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <meta name="google-site-verification" content="_KO64AvtVJI8VOUkrPcWLdTmO7vXeJ8KaLk4mIvDJkM" />
  <meta name="description" content="<%= yield(:description) %>">
  <!-- Dont index these pages on search engines -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

  <%= stylesheet_link_tag 'application', media: 'screen', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css' %>
  <%= favicon_link_tag 'favicon.ico' %>
  <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
  <!--[if lte IE 9]>
    <%= stylesheet_link_tag 'ie9' %>
  <![endif]-->

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery.ui.all.css" %>
  <%= csrf_meta_tags %>

  <% if Rails.env == "development" %>
    <%= render partial: 'scripts/mixpanel', locals: { mixpanel_token: ENV["MIXPANEL_TOKEN_DEV"] } %>
  <% else %>
    <%= render partial: 'scripts/mixpanel', locals: { mixpanel_token: ENV["MIXPANEL_TOKEN_PROD"] } %>
  <% end %>

  <% if content_for?(:og_url) %>
    <%= render "layouts/facebook_og" %>
  <% end %>

  <%= render "scripts/google_analytics" %>

  <% if content_for?(:canonical) %>
  <link rel="canonical" href="http://<%= request.host + yield(:canonical) %>">
  <% end %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
  <% if current_user.try(:admin) %>
    <%= render 'layouts/admin_navbar' %>
  <% else %>
    <% if controller_name == "items" %>
    <% elsif controller_name.in?(["static_pages", "sessions"]) || action_name == "home" %>
      <%= render 'layouts/navbar' %>
    <% else %>
      <%= render "layouts/public_navbar" %>
    <% end %>
  <% end %>
  <%= yield %>

  <div id="users_modal_container">
    <% if !user_signed_in? %>
      <%= render "users/signup_modal" %>
      <%= render "users/signin_modal" %>
    <% end %>
  </div>
</body>
</html>
